* {
	box-sizing: border-box;
}

body {
	background-color: #222;
}

#desktop-app {
	width:100vw;
	height: 100vh;
}

/* 仮 */
#logo {
	margin: 20px;
}

#vis {
	float: right;
}

.list-column {
	float: left;
	max-width: 25vw;
	min-width: 25vw;
	height: 100vh;
}

.tooltip {
	position: absolute;
  padding: 2px;
  font: 14px sans-serif;
	color: #222;
  background: rgba(255, 255, 255, 0.81);
  pointer-events: none;
	white-space: nowrap;
}