body {
	background-color: #222;
}

#desktop-app {
	width:100vw;
	height: 100vh;
}

#vis {
	max-width: fit-content;
	margin: 0 auto;
}

.tooltip {
	position: absolute;
  padding: 2px;
  font: 14px sans-serif;
	color: #222;
  background: rgba(255, 255, 255, 0.81);
  pointer-events: none;
}